Source: openmediavault-greyhole
Section: net
Priority: optional
Maintainer: Marcel Beck <marcel.beck@mbeck.org>
 Stéphane Bocquet <stephane_bocquet@hotmail.com>
Build-Depends: debhelper (>> 7)
Standards-Version: 3.6.10
Homepage: https://github.com/OMV-Plugins/openmediavault-greyhole

Package: openmediavault-greyhole
Architecture: all
Depends: openmediavault (>= 0.2.6.4), openmediavault-mysql (>= 0.1.8), greyhole (>= 0.9.18)
Priority: optional
Description: OpenMediaVault Greyhole (Storage pool server) plugin
 Greyhole is an application that uses Samba to create a storage pool of all
 your available hard drives (whatever their size, however they're connected),
 and allows you to create redundant copies of the files you store, in order
 to prevent data loss when part of your hardware fails.
